
# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json

.env

# Code coverage
*.lst
/telega-test-default
/telega-test-unittest
/telega-test-requests-driver

/examples/.cache
/examples/pollbot/pollbot
